{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

  <div class='container py-5'>
    <h1>Коннор Маклауд.</h1>
    <p>
      <img src="{% static 'img/connor.jpg' %}" width="200" height="180"
       align="left" vspace="5" hspace="5">
        Родился в Шотландии в 1518 году в Гленфиннан — деревне клана Маклаудов[2].
        В 1536 году впервые убит в междоусобной битве Курганом  (англ.)рус..
        Воскреснув, Коннор был изгнан из клана как колдун. Он бродил по Шотландии на протяжении нескольких лет,
        пока не встретил свою любовь — юную Хетер (Хетер) Макдональд, дочь кузнеца, на которой он был женат с 1539 г.
        по 1587 г. В 1541 г. его нашел ещё один бессмертный — Хуан Санчес Вилья-Лобос Рамирес, указавший Горцу на его
        бессмертную природу и ставший другом и наставником. Через полтора года учёбы владения мечом и получения других
        полезных знаний Коннор потерял своего учителя. Рамирес сразился с Курганом и был им обезглавлен.
        Несмотря на то что Курган оказался сильнее египтянина, Рамирес своей катаной оставил на его шее глубокий шрам.
        В 1555 году, спасая свою мать от инквизиции, Коннор убил отца Джейкоба Келла, тоже оказавшегося бессмертным и
        ставшего врагом Маклауда на многие столетия. После кончины Хетер в 1587 г. Маклауд покинул горную Шотландию он
        плывет в Японию, находит мастера Накано, учителя Рамиреса, и 7 лет обучается у него, пока бессмертного чародея
        не сразил меч колдуна Кейна. 1594 г. направляется в Эдинбург, где учился грамоте больше пяти лет и получил
        образование, достойное человека из высшего общества. Кроме знания кузнечного ремесла, Коннор проявлял интерес
        к морскому делу и навигации. Он понимал, что отныне ему предстоит выбирать только свободные профессии — моряк,
        воин, антиквар. Переехав жить в 1600 г. в Лондон, вероятно попал как шотландец под репрессии протестантов против
        католиков. По этой или другой причине в 1605 г. он плывет в составе команды парусника в Северную Африку,
        где происходит его знакомство с Сунда Кастагиром. Далее живёт в Африке, вплоть до возвращения на родину,
        в Шотландию.
    </p>
  </div>
{% endblock %}
